@media screen and (max-width: 1024px) {
  .blockDescribe h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .blockDescribe h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }

  .blockDescribe p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .blockDescribeVacancy p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #374151;
    margin-left: 8px;
  }

  .blockDescribeVacancy h1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .blockDescribe h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 56px;
  }

  .blockDescribe h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  }

  .blockDescribe p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .blockDescribeVacancy p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 8px;
  }

  .blockDescribeVacancy h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}


.dark .blockDescribeVacancy {
  color: white;
}

@media screen and (max-width: 768px) {
  .blockDescribe h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  .blockDescribe h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  .blockDescribe p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
